@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'Neue Haas Display Black';
    src: url('NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Neue Haas Display';
    src: url('NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --chart-width: 110%;
    --chart-height: 100vh;
    --font-size-title: 32px;
    --font-size-legend: 16px;
    --font-size-axis: 16px;
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

#chartLabels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Pour que les labels n'interfèrent pas avec les interactions du graphique */
    z-index: 1000;
}

.chart-label {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
}

#yAxisTitle,
#xAxisTitle {
    font-family: 'Neue Haas Display Black', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    position: absolute;
    z-index: 1000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#yAxisTitle {
    left: -28%;
    top: 30%;
    transform: rotate(90deg);
}

#xAxisTitle {
    font-family: 'Neue Haas Display Black', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2px;
    z-index: 1000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.media-ui-HedAndDek_wrapper {
    font-family: 'Neue Haas Display', 'Inter', Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#chartTitle {
    font-family: 'Neue Haas Display Black', Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 20px 0 10px;
    background-color: rgba(18, 18, 18, 0.8);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#chartLegend {
    font-family: 'Neue Haas Display', Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(18, 18, 18, 0.8);
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 1000;
    color: #ffffff;
}

#currentDate {
    font-family: 'Neue Haas Display Black', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    position: relative;
    top: 80px;
    right: 20%;
    z-index: 1001;
    padding: 10px 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#chartContainer {
    width: 100vw;
    height: calc(100vh - 110px);
    position: relative;
    margin-top: 160px;
    padding-bottom: 60px;
    overflow: visible; /* Permet au contenu de déborder */
}

#marketCapChart {
    width: 120% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent !important;
}

.chartjs-tooltip {
    background-color: rgba(30, 30, 30, 0.8) !important;
    color: #e0e0e0 !important;
}

.chartjs-tooltip-key {
    border-color: #e0e0e0 !important;
}

#finalRankingContainer {
    display: none;
    position: absolute;
    top: 15%;
    left: 22%;
    width: 10px;
    background-color: rgba(18, 18, 18, 0.9);
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
    font-family: 'Neue Haas Display', Helvetica, Arial, sans-serif;
    color: #ffffff;
}

#finalRankingContainer h2 {
    font-family: 'Neue Haas Display Black', Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.rank-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.rank {
    font-weight: bold;
    margin-right: 5px;
    min-width: 20px;
}

.company-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 15px;
}

.value {
    font-weight: bold;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1000;
}

#animateButton,
#downloadVideoButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
    display: none;
}

#animateButton {
    background-color: #4CAF50;
    display : none;
}

#downloadVideoButton {
    background-color: #008CBA;
    display: none;
}

#animateButton:hover {
    background-color: #45a049;
}

#downloadVideoButton:hover {
    background-color: #007B9A;
}

#downloadVideoButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media only screen and (max-width: 428px) {
    :root {
        --chart-width: 70vw;
        --chart-height: 70vh;
        --font-size-title: 30px;
        --font-size-legend: 24px;
        --font-size-axis: 24px;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
}

#chartContainer {
    width: var(--chart-width);
    height: var(--chart-height);
    position: relative;
    margin-top: 160px;
    margin-left : 5% 
}

#marketCapChart {
    width: 120% !important;
    height: 100% !important;
}

#chartTitle {
    font-size: var(--font-size-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#chartLegend {
    font-size: 8 px;
    position: absolute;
    top: calc(var(--font-size-title) + 60px);
    left: 0;
    right: 0;
    text-align: center;
}

#yAxisTitle, #xAxisTitle {
    font-size: var(--font-size-axis);
    position: absolute;
}

#yAxisTitle {
    left: calc(-1* var(--font-size-axis));
    top: 30%;
    left: -28%;
    transform: rotate(90deg);
}

#xAxisTitle {
    bottom: calc(-1 * var(--font-size-axis));
    left: 50%;
    bottom : 0.3%;
    transform: translateX(-50%);
}

#currentDate {
    font-size: var(--font-size-legend);
    position: absolute;
    top: -3.5%;
    right: 4%;
}
